/* 타이틀용 굵은 폰트 */
@font-face {
    font-family: 'kkBold';
    src: url("./fonts/강원교육튼튼.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 본문용 얇은 폰트 */
@font-face {
    font-family: 'kkLight';
    src: url("./fonts/강원교육모두\ Light.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}